# personal notes
notes.md  

# Environment
venv/
__pycache__/
*.pyc

# Data (large files)
data/raw/*.csv
!data/raw/.gitkeep
data/processed/*.csv
!data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Model artifacts 
models/*.pkl
!models/.gitkeep

.env